{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://static.zeoseven.com" crossorigin />
<link rel="stylesheet"
    href="https://static.zeoseven.com/zsft/372/main/result.css"
    onerror="this.href='https://static-host.zeoseven.com/zsft/372/main/result.css'"
/>
<link rel="stylesheet"
    href="https://static.zeoseven.com/zsft/25/main/result.css"
    onerror="this.href='https://static-host.zeoseven.com/zsft/25/main/result.css'"
/>

{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}